{% extends 'base.html.twig' %}


{% block body %}

		<section  class="articles">	

			{% for article in articles %}
			
				<article>
					<h2> {{ article.title }} </h2>
					<div class="metadata"> Rédigé le {{ article.createAt  |  date('d/m/Y') }} à {{ article.createAt | date('H:i') }}  </div>
					<div class="content">
					
					<img src="{{ article.image }}" alt="">
					

					{{ article.content}}
					</div>
				</article>

			{% endfor %}
			
		</section>	
		
{% endblock %}
